<img class="img__profile" src="/assets/images/profile.jpg">
<nav class="nav__main">
  <a href="/">Home</a>
</nav>
<div class="contact">
  <a class="icon" href="https://www.linkedin.com/in/arvind-sardar-752a05229/" target="_blank"><img class="img__icon--linkedin" src="/assets/images/linkedin.svg"></a>
  <a class="icon" href="mailto:arvindsardar@gmail.com" target="_blank"><img class="img__icon--email" src="/assets/images/envelope.svg"></a>
  <a class="icon" href="https://github.com/arvindsardar" target="_blank"><img class="img__icon--github" src="/assets/images/github.svg"></a>
</div>

