<div class="nav__portfolio">
	<h1>Portfolio</h1>
	<ul>
		<li class="nav-heading">Selected Web Projects</li>
		{% for page in site.pages %}
			{% if page.tags contains 'web' %}
			<li class="item{% if page.url == currentpage %} active{% endif %}">
				<a id={{page.anchor}} href={{page.url | absolute_url}} style="background-image: url({{page.thumb-img-url | absolute_url}});"></a>
				<span class="title">{{page.title}}</span>
			</li>
			{% endif %}
		{% endfor %}

		<li class="nav-heading">Selected Layouts & Design Work</li>
		{% for page in site.pages %}
			{% if page.tags contains 'layout' %}
			<li class="item{% if page.url == currentpage %} active{% endif %}">
				<a id={{page.anchor}} href={{page.url | absolute_url}} style="background-image: url({{page.thumb-img-url | absolute_url}});"></a>
				<span class="title">{{page.title}}</span>
			</li>
			{% endif %}
		{% endfor %}

		<li class="nav-heading">Motion/Video examples</li>
		{% for page in site.pages %}
			{% if page.tags contains 'motion' %}
			<li class="item{% if page.url == currentpage %} active{% endif %}">
				<a id={{page.anchor}} href={{page.url | absolute_url}} style="background-image: url({{page.thumb-img-url | absolute_url}});"></a>
				<span class="title">{{page.title}}</span>
			</li>
			{% endif %}
		{% endfor %}

		<li id="abc" class="nav-heading">Illustration Work</li>
		{% for page in site.pages %}
			{% if page.tags contains 'illustration' %}
			<li class="item{% if page.url == currentpage %} active{% endif %}">
				<a id={{page.anchor}} href={{page.url | absolute_url}} style="background-image: url({{page.thumb-img-url | absolute_url}});"></a>
				<span class="title">{{page.title}}</span>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

</div>

