---
---
@import "_normalize";
@import "_fonts";


/* layout */
header, main, footer{
	border: dotted silver 1px;
	padding: 30px;
}

/* typography */
html, body{
	font-family: Arial, Helvetica, sans-serif;
}
.current {
  color: green;
	font-weight: bold;
}
.breadcrumb{
	font-size: 0.8rem;
}

nav.catnav a{
	color: gray;
	&:visited{
		color: orange;
	}
}