---
---
@import "_normalize";
@import "_fonts";
@import "_colours";


/* layout */
header, main, footer, .page, .content{
	border: dotted silver 1px;
	padding: 30px;
}
.page{
	display:grid;
	grid-template-columns: 12.5rem 1fr;
	min-height: 90vh;
}
.content{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/* typography */
html, body{
	font-family: 'Spline Sans', Arial, Helvetica, sans-serif;
}
h1,h2,h3{
	font-family: 'Cabin Sketch',Arial, Helvetica, sans-serif;
	font-weight: 400;
}
a{
	text-decoration: none;
	&:hover{
		color: var(--brand1);
	}
}

/* navigation */
.nav__main{
	display: flex;
	flex-direction: column;
	a{
		padding: 0.3rem 0.8rem;
		background-color: var(--gray10);
		&:hover{
			background-color: var(--brand1);
			color: #fff;
		}
		&.current{
			background-color: var(--brand1);
			color: #fff;
		}
	}
}
.nav__cat {
	display: flex;
	gap: 5px;
	a{
		color: gray;
		display: inline-block;
		padding: 0.5rem;
		border: solid 1px var(--brand2);
		border-radius: 5px;
		&.current{
			background-color: var(--gray05);
		}
	}
}