---
---
@import "_normalize";
@import "_fonts";
@import "_colours";
@import "_breakpoints";

/*wireframing*/
.page,header, .nav__main, main, main .inner, footer {
	// border: dotted silver 1px;
	// padding: 10px;
	// background-color: rgba($color: #cecaff, $alpha: 0.1);
}

/* ## layout*/
html, body {
	height: 100%;
	box-sizing: border-box;
}
*{
	box-sizing: inherit;
}
.page{
	display:grid;
	grid-template-columns: 220px 1fr;
	min-height: 100vh;
	@include devices(mobile){
		display: block;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}

/* ## paint */
main.content{
	background-color: #E4E5F0;
	border-left: 1px solid #d2d3dd;
}

/* ## typography */
html, body{
	font-family: 'Spline Sans', Arial, Helvetica, sans-serif;
	line-height: 1.6;
}
h1,h2,h3{
	font-family: 'Cabin Sketch',Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin-top: 0;
	line-height: 1.3;
}
a{
	text-decoration: none;
	&:hover{
		color: var(--brand1);
	}
}

/* ## header */
header.masthead{
	.inner{
		position: sticky;
		top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;
		@include devices(mobile){
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	img.img__profile{
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		width: 80px;
		border: 3px solid white;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	}
		a.icon{
			width: 35px;
			display: block;
		}
	/* ## navigation */
	.nav__main{
		display: flex;
		flex-direction: column;
		a{
			text-transform: uppercase;
			font-size: 0.8rem;
			padding: 0.3rem 0.8rem;
			text-align: center;
			&:hover{
				background-color: var(--brand1);
				color: #fff;
			}
			&.current{
				background-color: var(--brand1);
				color: #fff;
			}
		}
		@include devices(mobile){
			flex-direction: row;
		}
	}
	.contact{
		display: flex;
		flex-direction: column;
		gap: 10px;
		@include devices(mobile){
			flex-direction: row;
		}
	}
}

/* ## home page */
body.home-layout{
	section.story{
		max-width: 700px;
		padding-right: 50px;
	}
}

/* ## content */
main.content{
	.inner{
		display: grid;
		grid-template-columns: 250px 1fr;
		gap: 30px;
		@include devices(mobile){
			display: block;
		}
		section.story{
			padding-top: 45px;
		}
		/* ## portfolio */
		.nav__portfolio{
			padding-top: 50px;
			h2{
				text-align: center;
				margin: 0;
			}
			ul{
				display: flex;
				gap: 15px;
				flex-direction: column;
				list-style: none;
				align-items: center;
				padding: 0;
				margin: 0;
				position: sticky;
				top: 20px;
				align-self: flex-start;
				@include devices(mobile){
					flex-direction: row;
					flex-wrap: wrap;
				}
				.nav-heading{
					width: 100%;
					text-transform: uppercase;
					margin-top: 20px;
					font-size: 0.9rem;
					text-align: center;
				}
				li.item a{
					display: grid;
					place-content: center;
					width: 150px;
					aspect-ratio: 1 / 0.7;
					background-size: cover;
					background-position: top center;
					border-radius: 12px;
				box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
				}
				.title{
					// display: block;
					text-align: center;
					font-size: 0.75rem;
					text-transform: uppercase;
					// margin-top: -1.6rem;
					pointer-events: none;
					background-color: black;
					color: white;
					// position: relative;
					padding: 5px;
				}
				img{
					width: 150px;
					height: 100px;
					object-fit: cover;
					object-position: top;
				}
			}
		}
		.portf-display{
			display: flex;
			.description{
				width: 350px;
				padding: 1rem 2rem 2rem;
				background-color: var(--gray80);
				color: var(--gray10);
				margin-left: -50px;
				margin-top: 50px;
				align-self: flex-start;
				line-height: 1.5;
				position: sticky;
				top: 20px;
				border-top: 10px solid var(--gray60);
				border-bottom: 10px solid var(--gray60);
			}
			.image__portf{
				width: 75%;
			}
		}
	}
}
