<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
		<link rel="stylesheet" href={{"/assets/css/styles.css" | absolute_url}}>
		<link rel="icon" type="image/x-icon" href={{"/assets/images/favicon.ico" | absolute_url}}>
  </head>
  <body class="default {{ page.layout }}">
		<div class="page">
			<header class="masthead">
				<div class="inner">
					{% include mainNav.html %}
				</div>
			</header>
			<main class="content">
				<div class="inner">
					{{ content }}
				</div>
			</main>
		</div>
  </body>
</html>